alembic @ file:///home/conda/feedstock_root/build_artifacts/alembic_1616532146974/work
bcrypt @ file:///Users/runner/miniforge3/conda-bld/bcrypt_1649165259045/work
beautifulsoup4 @ file:///home/conda/feedstock_root/build_artifacts/beautifulsoup4_1601745390275/work
boto3 @ file:///home/conda/feedstock_root/build_artifacts/boto3_1617059330486/work
botocore @ file:///home/conda/feedstock_root/build_artifacts/botocore_1617140361424/work
brotlipy @ file:///Users/runner/miniforge3/conda-bld/brotlipy_1666764769951/work
certifi==2023.7.22
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1606236244951/work
chardet @ file:///Users/runner/miniforge3/conda-bld/chardet_1649184156569/work
click @ file:///Users/runner/miniforge3/conda-bld/click_1645238150271/work
cryptography @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_e2pplk40z3/croot/cryptography_1689373680118/work
dataclasses @ file:///home/conda/feedstock_root/build_artifacts/dataclasses_1628958434797/work
Flask==1.1.2
Flask-JWT-Extended @ file:///tmp/build/80754af9/flask-jwt-extended_1605109379619/work
Flask-Migrate @ file:///home/conda/feedstock_root/build_artifacts/flask-migrate_1675404414747/work
Flask-SQLAlchemy @ file:///home/conda/feedstock_root/build_artifacts/flask-sqlalchemy_1616102249273/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1593328102638/work
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1672612343532/work
itsdangerous @ file:///home/conda/feedstock_root/build_artifacts/itsdangerous_1621360792037/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1655912915439/work
jmespath @ file:///home/conda/feedstock_root/build_artifacts/jmespath_1589369830981/work
Mako @ file:///home/conda/feedstock_root/build_artifacts/mako_1663885412539/work
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1635833661769/work
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1616933189959/work
pandas==1.4.4
pyarrow==3.0.0
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
PyJWT @ file:///home/conda/feedstock_root/build_artifacts/pyjwt_1689721553971/work
pymongo==3.11.3
PyMySQL @ file:///home/conda/feedstock_root/build_artifacts/pymysql_1610208984992/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1685514481738/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
python-dotenv @ file:///home/conda/feedstock_root/build_artifacts/python-dotenv_1603979006023/work
python-editor==1.0.4
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1680088766131/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1608156231189/work
s3transfer @ file:///home/conda/feedstock_root/build_artifacts/s3transfer_1618355402893/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
soupsieve @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_a42j8ggi70/croot/soupsieve_1680518482618/work
SQLAlchemy @ file:///Users/runner/miniforge3/conda-bld/sqlalchemy_1649666701643/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1615828766818/work
waitress @ file:///home/conda/feedstock_root/build_artifacts/waitress_1615198980306/work
Werkzeug @ file:///home/conda/feedstock_root/build_artifacts/werkzeug_1644332431572/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1669453021653/work
